body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    /* ?background-color: #a2d2ff; */
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#main-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    border: 6px solid #EFB0C9;

}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 1px black;
}


#bd-age {
    background-color: #EFB0C9;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px;
}

#bd-date {
    background-color: #EFB0C9;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px;

}

.gcover {
    margin: 0px auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/giftcover.png");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/dance.gif");
}

#gift-img-wow:hover {
    background-image: url("images/giphy.gif");
}

#gift-section {
    margin-top: 50px;
}

.foryou {
    margin: 0px 0px 10px;
}

.hover {
    margin-top: 10px;
}

#gift-img-genius:hover {
    background-image: url("images/legend.gif");
}

#gift-img-badass:hover {
    background-image: url("images/superman.gif");
}

#gift-img-cheer {
    height: 200px;
}

#gift-img-cheer:hover {
    background-image: url("images/cheer.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 50px auto;
}

a {
    color: whitesmoke;
}
span{
    color:rgb(215, 13, 13);
}